.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 45px auto 40px auto;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 959px) {
  .header {
    padding:0 30px 31px 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 28px 0 42px 0;
  }
}