.auth__input {
    border: none;
    width: 358px;
    margin: 0 auto;
    border-bottom: 1px solid #CCC;
    padding: 0 0 13px 0;
    outline: none;
    color: #CCC;
    background-color: transparent;
    margin-top: 30px;
}

.auth__input:first-of-type {
    margin-top: 50px;
}